<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Formulario Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Añadir Producto</h2>

        <a th:href="@{/productos}">Inici</a>

        <form th:action="@{/saveProduct}" method="post" th:object="${producto}">

            <input type="hidden" name="idProducto" th:field="*{codigoNacional}">

            <label for="receta">Receta:</label>
            <input type="text" name="receta" th:field="*{receta}"/>
            <label for="receta">Stock:</label>
            <input type="text" name="stock" th:field="*{stock}"/>
            <label for="receta">Nombre:</label>
            <input type="text" name="nombreProducto" th:field="*{nombreProducto}"/>
            <label for="receta">Descripción:</label>
            <input type="text" name="descripcion" th:field="*{descripcion}"/>
            <label for="receta">Unidades Embalaje:</label>
            <input type="text" name="unidadesEmbalaje" th:field="*{unidadesEmbalaje}"/>
            <label for="receta">Dosis:</label>
            <input type="text" name="dosis" th:field="*{dosis}"/>

            <input type="submit" name="enviar" value="Enviar datos"/>
        </form>
    </body>
</html>
