<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
    <head>
        <title>Formulario Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/grid/">
        <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <!-- Custom styles for this template -->
        <link href="/css/general.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h2 class="cabecera">Añadir/Modificar Producto</h2>
        <button class="cabecera" onclick="window.location.href = '/productos'"><- Volver</button>
        <div class="container" id="containerFormGeneral">
            <form th:action="@{/saveProduct}" method="post" th:object="${producto}">

                <div class="row">
                    <div class="col-md-6"> 
                        <div class="form-group"> 
                            <label for="codigoNacional" th:text="#{formProductos.id}"/>
                            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('codigoNacional')} ? 'is-invalid' : '' " 
                                   name="codigoNacional" th:field="*{codigoNacional}" th:readonly="${isAModification}">
                            <span th:if="${#fields.hasErrors('codigoNacional')}" th:errors="*{codigoNacional}"
                                  class="help-block" id="id-error"></span>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center"> 
                        <div class="form-group">
                            <label for="receta" th:text="#{formProductos.receta}"/>
                            <input type="checkbox" class="form-check-input" name="receta" th:field="*{receta}"/> 
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="stock" th:text="#{formProductos.stock}"/>
                    <input type="number" class="form-control" th:classappend="${#fields.hasErrors('stock')} ? 'is-invalid' : '' " name="stock" th:field="*{stock}"/> 
                    <span th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"
                          class="help-block" id="id-error"></span>
                </div>

                <div class="form-group">
                    <label for="nombreProducto" th:text="#{formProductos.name}"/>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('nombreProducto')} ? 'is-invalid' : '' " name="nombreProducto" th:field="*{nombreProducto}"/> 
                    <span th:if="${#fields.hasErrors('nombreProducto')}" th:errors="*{nombreProducto}"
                          class="help-block" id="id-error"></span>
                </div>

                <div class="form-group">
                    <label for="descripcion" th:text="#{formProductos.description}"/>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('descripcion')} ? 'is-invalid' : '' " name="descripcion" th:field="*{descripcion}"/> 
                    <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"
                          class="help-block" id="id-error"></span>
                </div>

                <div class="form-group">
                    <label for="unidadesEmbalaje" th:text="#{formProductos.quantityPerPackage}"/>
                    <input type="number" class="form-control" th:classappend="${#fields.hasErrors('unidadesEmbalaje')} ? 'is-invalid' : '' " name="unidadesEmbalaje" th:field="*{unidadesEmbalaje}"/> 
                    <span th:if="${#fields.hasErrors('unidadesEmbalaje')}" th:errors="*{unidadesEmbalaje}"
                          class="help-block" id="id-error"></span>
                </div>

                <div class="form-group"> 
                    <label for="dosis" th:text="#{formProductos.dose}"/>
                    <input type="text" class="form-control" th:classappend="${#fields.hasErrors('dosis')} ? 'is-invalid' : '' " name="dosis" th:field="*{dosis}"/>
                    <span th:if="${#fields.hasErrors('dosis')}" th:errors="*{dosis}"
                          class="help-block" id="id-error"></span>
                </div>

                <div class="form-group"> 
                    <label for="precio" th:text="#{formProductos.price}"/>
                    <input type="number" class="form-control" th:classappend="${#fields.hasErrors('precio')} ? 'is-invalid' : '' " name="precio" th:field="*{precio}" step="any"/>
                    <span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"
                          class="help-block" id="id-error"></span>
                </div>

                <div class="form-group"> 
                    <label for="iva" th:text="#{formProductos.iva}"/>
                    <input type="number" class="form-control" th:classappend="${#fields.hasErrors('iva')} ? 'is-invalid' : '' "  name="iva" th:field="*{iva}"/>
                    <span th:if="${#fields.hasErrors('iva')}" th:errors="*{iva}"
                          class="help-block" id="id-error"></span>
                </div>

                <p/>
                <p/>
                <input type="submit" class="btn btn-primary" name="enviar" value="Enviar datos"/>
            </form>
        </div>
    </body>
</html>
