<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Formulario Cliente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Añadir Cliente</h2>

        <a th:href="@{/mainClientes}">Volver</a>
        <p/>

        <form th:action="@{/saveClientes}" method="post" th:object="${cliente}">
            <!--            private String TSE;
                        private String nombre;
                        private String apellido;
                        private String direccion;
                        private String municipio;
                        private String email;
                        private int cp;
                        private int telefono;-->

            <label for="TSE" th:text="#{forClient.tse}"/>
            <input type="text" name="TSE" th:field="*{TSE}">

            <label for="nombre" th:text="#{forClient.name}"/>
            <input type="text" name="nombre" th:field="*{nombre}">

            <label for="apellido" th:text="#{forClient.surname}"/>
            <input type="text" name="apellido" th:field="*{apellido}">

            <label for="direccion" th:text="#{forClient.location}"/>
            <input type="text" name="direccion" th:field="*{direccion}">

            <label for="municipio" th:text="#{forClient.town}"/>
            <input type="text" name="municipio" th:field="*{municipio}">

            <label for="email" th:text="#{forClient.email}"/>
            <input type="text" name="email" th:field="*{email}">

            <label for="cp" th:text="#{forClient.postal}"/>
            <input type="text" name="cp" th:field="*{cp}">

            <label for="telefono" th:text="#{forClient.phone}"/>
            <input type="text" name="telefono" th:field="*{telefono}">
            <p/>
            
            <input type="submit" name="enviar" value="Enviar datos"/>
        
        </form>
    </body>
</html>