<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title th:text="#{productos.title}"></title>
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/grid/">
        <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <!-- Custom styles for this template -->
        <link href="/css/general.css" rel="stylesheet" type="text/css">
        <script src="../model/functions.js"></script> 
    </head>
    <body>
        <main>
            <div class="container" id="listaMainClientes">
                <div class="container">
                    <h1 th:text="#{productos.title}"/>
                    <div id="topListaMainCliente">
                        <button type="button" class="btn btn-primary" onclick="location.href = '/formProductos'" th:text="#{productos.btn.add}"/>
                        <button type="button" class="btn btn-primary" onclick="modifyOrDeleteProducto('modify')" th:text="#{productos.btn.modify}"/>
                        <button type="button" class="btn btn-primary" onclick="modifyOrDeleteProducto('delete')" th:text="#{productos.btn.delete}" sec:authorize="hasAnyAuthority('admin')"/>
                        <p>
                        <div class="col-xs-2">
                            <input type="search" class="form-control rounded" id="cuadro-busqueda" placeholder="Buscar" aria-label="Buscar" aria-describedby="search-addon" onkeyup="buscar()" />
                        </div>
                    </div>
                </div>
                <table class="table" id="tabla-productos">
                    <thead class="titleTable">
                        <tr>
                            <th scope="col"/>
                            <th scope="col" th:text="#{productos.col.id}"/>
                            <th scope="col" th:text="#{productos.col.receta}"/>
                            <th scope="col" th:text="#{productos.col.stock}"/>
                            <th scope="col" th:text="#{productos.col.name}"/>
                            <th scope="col" th:text="#{productos.col.description}"/>
                            <th scope="col" th:text="#{productos.col.quantityPerPackage}"/>
                            <th scope="col" th:text="#{productos.col.dose}"/>
                            <th scope="col" th:text="#{productos.col.price}"/>
                            <th scope="col" th:text="#{productos.col.iva}"/>
                        </tr>
                    </thead>
                    <p>
                    <tbody>
                        <tr th:each="producto : ${productos}">
                            <td>
                                <input type="checkbox" id="checkboxProducto" name="selectedCheckbox" th:value="${producto.codigoNacional}" onclick="seleccionarUnicoCheckbox(this)"/>
                            </td>    
                            <td th:text="${producto.codigoNacional}"/>
                            <td th:text="${producto.receta}"/>
                            <td th:text="${producto.stock}"/>
                            <td th:text="${producto.nombreProducto}"/>
                            <td th:text="${producto.descripcion}"/>
                            <td th:text="${producto.unidadesEmbalaje}"/>
                            <td th:text="${producto.dosis}"/>
                            <td th:text="${producto.precio}"/>
                            <td th:text="${producto.iva}"/>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <div th:include="~{menu :: sidebar}"></div>
    </body>
</html>
