<!-- Coding by CodingLab | www.codinglabweb.com -->
<!DOCTYPE html>
<div th:fragment="sidebar">
    <html lang="es" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <!----======== CSS ======== -->
            <link rel="stylesheet" type="text/css" href="/css/menucss.css"/>

            <!----===== Boxicons CSS ===== -->
            <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

            <title>Thanos Pharma Menu</title> 
        </head>
        <body>
            <nav class="sidebar close">
                <header>
                    <div class="image-text">
                        <span class="image">
                            <img src="/images/logoTP.png" alt=""/>
                        </span>

                        <div class="text logo-text">
                            <span class="name">Thanos Pharma</span>
                            <span class="profession">Web Farmacia</span>
                        </div>
                    </div>

                    <i class='bx bx-chevron-right toggle'></i>
                </header>

                <div class="menu-bar">
                    <div class="menu">

                        <ul class="menu-links" style="padding-left: 0px;">
                            <li class="nav-link">
                                <a href="/menu">
                                    <i class='bx bxs-grid-alt icon'></i>
                                    <span class="text nav-text">Modulos</span>
                                </a>
                            </li>        

                            <li class="nav-link">
                                <a href="/ventas">
                                    <i class='bx bxs-basket icon' ></i>
                                    <span class="text nav-text">Ventas</span>
                                </a>
                            </li>

                            <li class="nav-link">
                                <a href="/productos">
                                    <i class='bx bxs-package icon'></i>
                                    <span class="text nav-text">Inventario</span>
                                </a>
                        </ul>
                        <div class="separator">
                            <hr>
                        </div>
                        <ul class="menu-links" style="padding-left: 0px;">
                            <li class="nav-link">
                                <a href="/clientes">
                                    <i class='bx bxs-user bx-flip-horizontal icon' ></i>
                                    <span class="text nav-text">Clientes</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bottom-content">
                        <li class="nav-link">
                            <a href="/modifUsuario">
                                <i class='bx bxs-user-account icon'></i>
                                <span class="text nav-text">Gestión Usuarios</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/login">
                                <i class='bx bx-log-out icon' ></i>
                                <form:form action="${pageContext.request.contextPath}/logout" method="POST">
                                <span class="text nav-text" value="Logout">Cerrar Sesión</span>
                                </form:form>
                            </a>
                        </li>
                        <li class="mode">
                            <div class="sun-moon">
                                <i class='bx bx-moon icon moon'></i>
                                <i class='bx bx-sun icon sun'></i>
                            </div>
                            <span class="mode-text text">Modo Oscuro</span>

                            <div class="toggle-switch">
                                <span class="switch"></span>
                            </div>
                        </li>

                    </div>
                </div>
            </nav>

            <script src="/model/scriptmenu.js" type="text/javascript"></script>
        </body>
    </html>
</div>  
<div th:fragment="menu">
    <section class="hero-section">
        <div class="card-grid">
            <a class="card" href="/ventas">
                <div class="card__background"><i class='bx bxs-basket'></i></i></div>
                <div class="card__content">
                    <h3 class="card__heading">Ventas</h3>
                </div>
            </a>
            <a class="card" href="/productos">
                <div class="card__background"><i class='bx bxs-package'></i></div>
                <div class="card__content">
                    <h3 class="card__heading">Productos</h3>
                </div>
            </a>
            <a class="card" href="/clientes">
                <div class="card__background"><i class='bx bxs-user' ></i></div>
                <div class="card__content">
                    <h3 class="card__heading">Clientes</h3>
                </div>
            </a>
        </div>
    </section>
</div>

