/*          CSS de formulario      */
#containerFormGeneral {
    margin-top: 2%;
    margin-left: 10%;
    background-color: #ffffff;
    padding-bottom: 1.5%;
    border-radius: 4%;
}

/*          CSS de Módulos principales clientes y productos      */

#listaMainClientes {
    margin-top: 10%;

}

.topListaMainCliente {
    display: inline;
}

#listaMainVentas {
    margin-top: 10%;

}

.topListaMainVentas {
    display: inline;
}

.search-container {
    margin-top: 10px;
}


/*          CSS GENERALES      */
body {
    background-color: #f3f3f3;
}

.form-group input {
    background-color: #f3f3f3;
}

.hide{
    display: none;
}

.cabecera {
    margin-top: 1%;
    margin-left: 10%;
}

.help-block{
    /*border: 1px solid red;*/
    color: red;
}
